!
! Ayu Dark
!   Dark version with Mirage as colors 8-15
!

! Options

urxvt.perl-ext:           default,matcher,selection-to-clipboard
urxvt.url-launcher:       /usr/bin/firefox-nightly
urxvt.matcher.button:     1
urxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! Appearance

urxvt*font:             xft:FantasqueSansMono NF:style=Regular:size=12
urxvt*termName:         rxvt
urxvt*scrollBar:        false
urxvt*depth:            32
urxvt*lineSpace:	      4
urxvt*internalBorder:   16

! Special

*.foreground:   #b3b1ad
*.background:   [95]#0a0e14
*.cursorColor:  #e6b450

! Black

*.color0:       #0a0e14
*.color8:       #666666

! Red

*.color1:       #ff3333
*.color9:       #ff3333

! Green

*.color2:       #c2d94c
*.color10:      #bae67e

! Yellow

*.color3:       #ffb454
*.color11:      #ffd580

! Blue

*.color4:       #59c2ff
*.color12:      #73d0ff

! Magenta

*.color5:       #f07178
*.color13:      #f28779

! Cyan

*.color6:       #95e6cb
*.color14:      #95e6cb

! White

*.color7:       #ffffff
*.color15:      #ffffff


! Bold, Italic, Underline

*.colorBD:      #b3b1ad
!*.colorIT:
!*.colorUL:
!

urxvt.perl-ext-common: default,resize-font
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! disable iso14755 to be able to paste normally with the plugin
URxvt.iso14755: false
URxvt.iso14755_52: false
