! Options

URxvt.perl-ext:           default,matcher,selection-to-clipboard
URxvt.url-launcher:       /usr/bin/firefox-nightly
URxvt.matcher.button:     1
URxvt.matcher.pattern.1:  \\bwww\\.[\\w-]+\\.[\\w./?&@#-]*[\\w/-]

! Appearance

URxvt*font:             xft:  Hack:style=Regular:pixelsize=14, xft:   Cousine Nerd Font Mono:style=Regular :pixelsize=14

URxvt*termName:         rxvt-256color
URxvt*scrollBar:        false
URxvt*internalBorder:   8
URxvt*letterSpace: -1
URxvt*lineSpace: 0
!
! Special

! COOLORS
*background:   #000000
*foreground:   #eff0eb
*cursorColor:  #dddddd

*color0:      #333333
*color8:      #AAAAAA
*color1:      #ff5c57
*color9:      #ff5c57
*color2:      #218921
*color10:     #5af78e
*color3:      #f3f99d
*color11:     #f3f99d
*color4:      #57c7ff
*color12:     #57c7ff
*color5:      #ff6ac1
*color13:     #ff6ac1
*color6:      #666666
*color14:     #9aedfe
*color7:      #eff0eb
*color15:     #eff0eb

URxvt.perl-ext-common: default,resize-font
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

URxvt.keysym.Control-Up:     \033[1;5A
URxvt.keysym.Control-Down:   \033[1;5B
URxvt.keysym.Control-Left:   \033[1;5D
URxvt.keysym.Control-Right:  \033[1;5C

! disable iso14755 to be able to paste normally with the plugin
URxvt.iso14755: false
URxvt.iso14755_52: false

! urxvt keyboard scrolling
URxvt.keysym.Shift-Up: command:\033]720;1\007
URxvt.keysym.Shift-Down: command:\033]721;1\007

