[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[963CB5613CB53D55]
row=3
col=11

[D8F2-C252]
row=4
col=11

[00BAA96DBAA95FC0]
row=5
col=11

[Trash]
row=2
col=11

[/]
row=0
col=11

[/home/a]
row=1
col=11

